body {
	font-family: 'Cabin', sans-serif;
}

#about {
	margin-left: 62.5%;
	font-size: 14px
	padding-top: 100%;
}
 
#title {
	margin-top: 50px;
}

h1 {
	font-size: 72px;
	letter-spacing: .3em;
}

#subtitle {
	font-size: 24px;
	letter-spacing:.1em;
}

#copyright {
	font-size: 14px;
}

h1, p {
	text-align: center;
	margin: auto 0;
}

#tableFooter {
	margin-top: 10%;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

a, a:hover {
	color: black;
	text-decoration: none;
}

#tableImages {
	margin: 0 auto;
}

td {
	padding:25px;
}

#planetHealthImage {
	margin-top: -10%;
	margin-left: 30%;
	max-height: 325px;
	max-width: 325px;
}

#CoffeeCoImage {
	margin-top: 25%;
	margin-left: 40%;
	max-height: 250px;
	max-width: 250px;
}

#photographyImage {
	margin-left: 15%;
	margin-top:-20%;
	max-height: 250px;
	max-width: 250px;
}

#reggieImage {
	max-height: 325px;
	max-width: 325px;
	margin-top: -30%;
	margin-left: 50%;
}

#animationImage {
	max-height: 300px;
	max-width: 300px;
	margin-top: 20%;
	margin-left: -70%;
}
#whatdoesfreemeanImage {
	margin-left: 90%;
	margin-top: -50%;
	max-height: 350px;
	max-width: 350px;
}
#youTECHImage {
	max-height: 500px;
	max-width: 500px;
	margin-left: 60%;

}

